:root {
    --std-border:none;    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: var(--std-border);
}
#nav a:nth-of-type(1) {
    background: linear-gradient(#ebf6ff, #bbe4fb);
    box-shadow: 1px 1px 1px #7398cb41;
}
body {
    background: linear-gradient(#ebf4ff, #d7dde5);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.clock {
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-bottom:50px ;
}
#hour, #mins, #sec {
    display: flex;
    gap: 20px;
}
.colon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.colon > span {
    border: 5px solid black;
    border-radius: 50%;
}
.display {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 2em;
}